.form-w350 {
    margin-top: 10%;
    max-width: 350px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
}
.btn-w100 {
    width: 100%;
}
.img-login {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    font-weight: 700;
    text-decoration: none;
}
.div-error {
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 10px;
}