.form-w350 {
    margin-top: 15%;
    max-width: 350px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
}
.btn-w100 {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 100%;
}
.img-login {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    font-weight: 700;
    text-decoration: none;
}