.form-w350 {
    margin-top: 10%;
    max-width: 350px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: auto;
}
.btn-w100 {
    width: 100%;
}
.img-login {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    font-weight: 700;
    text-decoration: none;
}
.div-error {
    border-radius: 5px;
    padding: 10px 5px;
    margin-bottom: 10px;
}
h1, h2, h3 {
    margin: 0px;
}
hr {
    margin: 10px 5px 10px 0px;
}
/* Menu */
ul {
    list-style: none;
    padding: 0px;
}
ul#sub-memu li span {
    margin-right: 10px;
}
/* Man hinh dien thoai */
@media all and (max-width: 599px) {
    li {
        border-bottom: 1px solid #ccc;
        height: 30px;
        padding: 5px;
    }
    #menu div {
        border-bottom: 1px solid #ccc;
        height: 30px;
        padding: 5px;
    }
    i.fa-bars {
        float: right;
        padding: 3px 7px;
    }
}
/* Man hinh IPad */
@media all and (min-width: 600px) and (max-width: 1023px) {

}
/* Man hinh lap top */
@media all and (min-width: 1024px) {
    div#menu {
        width: 20%;
        position: fixed;
        height: 100%;
        border-right: 1px solid gray;
    }
    div#content {
        margin-left: 20%;
        padding-left: 5px;
    }
    ul#sub-memu {
        display: inherit !important;
    }
    div#menu:before {
        content: "Quản trị Lamp";
        font-weight: 700;
        font-size: 1.5em;
        display: block;
        border-bottom: 2px dashed rgba(128, 128, 128, 0.48);
        text-align: center;
    }
    div#menu div {
        display: none;
    }
    ul#sub-memu li {
        height: 35px;
        padding: 7px;
        cursor: pointer;
        font-size: 1.15em;
        transition: all 0.3s;
    }
    ul#sub-memu li:hover {
        background-color: blueviolet;
        color: white;
        font-weight: 700;
        text-transform: capitalize;
    }
    li.active {
        background: rgba(128, 128, 128, 0.13);
        font-weight: 700;
    }
    /* Category */
    .action {
        width: 150px;
    }
    .action i {
        margin: 0px 10px;
        cursor: pointer;
    }
    form#f-update {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    form#f-update i {
        cursor: pointer;
        position: absolute;
        right: 10px;
    }
}
