<div id="menu">
    <div> Menu <i id="btn-show-menu" class="fa fa-bars" aria-hidden="true"></i></div>
    <ul id="sub-memu" style="display: none;">
        <li><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Đơn hàng</li>
        <li class="active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Danh mục</li>
        <li><span class="glyphicon glyphicon-sound-dolby" aria-hidden="true"></span> Sản phẩm</li>
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Đối tác</li>
        <li><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Khuyến mãi</li>
        <li><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Phản hồi</li>
        <li><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Quảng cáo</li>
    </ul>
</div>